body{
    background: #000;
    font-family: 'courier new', monospace;
    font-weight: 100;
    font-size: xx-small;
    letter-spacing: 0.1em;
    text-shadow: 1px 2px 8px rgb(102, 206, 102);
    text-transform: uppercase;
    word-spacing: 3px;
    color: green;

}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size:medium;
}
span{
    color: rgb(151, 165, 153);
}


.glitch_wrap{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.glitch{
  position:fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(https://www.bu.edu/cs/files/2017/03/giphy.gif) no-repeat center; opacity: 20%;
  background-size: cover ;
  background-blend-mode:difference;
  transform: scale(1)
}
.glitch:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    transform: translateX(10px);
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.glitch:before{
    animation-name: glitchAnim1;
}
.glitch:after{
    animation-name: glitchAnim2;
}
@keyframes glitchAnim1{
    0%, 25.1%,100%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0)
    }
    4%{
        clip-path: polygon(0% 0, 100% 0, 100% 10%, 0 10%)
    }
    5%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    }
    9%{
        clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%)
    }
    10%{
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%)
    }
    14%{
        clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%)
    }
    15%{
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%)
    }
    19%{
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%)
    }
    20%{
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%)
    }
    24%{
        clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%)
    }    
    25%{
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%)
    }    
}

@keyframes glitchAnim2{
    0%, 25.1%,100%{
        clip-path: polygon(0 0, 0 0, 0 0, 0 0)
    }
    4%{
        clip-path: polygon(0 80%, 100% 80%, 100% 90%, 0 90%);
        background-color: rgba(0,0,255,0.2)
    }    
    5%{
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        background-color: transparent;
    } 
    9%{
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%)
    }
    10%{
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%)
    }
    14%{
        clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%)
    }
    15%{
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%)
    }
    19%{
        clip-path: polygon(0 20%, 100% 20%, 100% 30%, 0 30%)
    }
    20%{
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%)
    }
    24%{
        clip-path: polygon(0% 0, 100% 0, 100% 10%, 0 10%)
    }
    25%{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    } 
}

